* {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;

    /* Especificar posición de las áreas mobile */
    grid-template-areas:
        "header"
        "left"
        "content"
        "right"
        "footer";
}

main > * {
    background-color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nombrar las áreas del layout */
header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: left;
}

article {
    grid-area: content;
}

aside:last-of-type {
    grid-area: right;
}

footer {
    grid-area: footer;
}

@media (min-width: 1200px) {
    main {
        grid-template-areas:
        "header header right"
        "left content right"
        "left footer footer";

        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    }
}

@media (min-width: 900px) and (max-width: 1199.9px) {
    main {
        grid-template-areas:
        "header header header"
        "left content right"
        "left footer right";
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    }
}