* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
    display: grid;
}

h1 {
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
}

main {
    height: 100vh;
    display: grid;
    /* 
        Esto es lo que marca la separación interna
        en todos los divs
        grid-gap: 10px;
    */
    /* 
        alternativa a grid gap 
    */
    row-gap: 10px;
    column-gap: 10px;

    /* 
        grid-template-columns: auto 50% auto; 
    */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* 
        Opción implícita que ayuda a que siga ordenando los
        elementos del grid más allá del 3x3 que se indican
        en el grid-template-*.
    */
    grid-auto-rows: 1fr;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}